fastapi
uvicorn[standard]
sentence-transformers
pandas
numpy
scikit-learn
pdfminer.six
pdfplumber
pytesseract
pdf2image
PyMuPDF
PyPDF2
python-docx
img2pdf
datasets
huggingface_hub
python-multipart
slowapi
easyocr
torch
torchvision
opencv-python
pillow